<div class="b-blog-list">
  {{ range .posts }}
  {{ $dateTime := .PublishDate.Format "2006-01-02" }}
  {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
  <article class="b-blog-list-item">
    <h2 class="b-blog-list-item__title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <p class="b-blog-list-item__date">{{ .PublishDate.Format $dateFormat }}</p>
    <div class="b-wiziwig">
      {{ .Summary }}
    </div>
    <ul class="b-tags-list g-clearfix">
      {{ range .Params.Tags }}
      {{ $href := print (absURL "tags/") (urlize .) "/" }}
      <li class="b-tags-list__item">
        <a class="b-tags-list__link" href="{{ $href }}">{{ . }}</a>
      </li>
      {{ end }}
    </ul>
    <a href="{{ .RelPermalink }}" class="b-btn-read">Read more</a>
  </article>
  {{ end }}
</div>